* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
}

body {
  min-height: 100vh;
  padding: 47px 31px 31px 31px;
  background: radial-gradient(100% 100% at 50% 0%, #1f3756 0%, #141539 100%);
  display: flex;
  flex-direction: column;
}

header {
  width: 702px;
  margin: 0 auto;
  padding: 18px 23px 15px 28px;
  border: 2px solid #606e85;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .score {
  width: 150px;
  height: 114px;
  padding: 14px;
  background: #ffffff;
  border-radius: 6px;
  text-align: center;
}

header .score h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.15em;
  color: #2a46c0;
  text-transform: uppercase;
}

header .score p {
  font-weight: bold;
  font-size: 64px;
  line-height: 77px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #3b4363;
  margin-top: -5px;
}

main {
  flex-grow: 1;
}

#playmat {
  width: 329px;
  height: 313px;
  margin: 122px auto;
  position: relative;
}

#playmat .token {
  font-size: 14.5px;
}

#playmat .token.user-picked {
  font-size: 29px;
  top: 5%;
  left: -60%;
  transform: scale(1);
  transition: ease-in 0.3s;
  cursor: initial;
}

#playmat .token.user-picked::before {
  content: "YOU PICKED";
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  top: -32%;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0.125em;
}

#playmat .token.user-picked.aside {
  transition: ease-out 1s;
  left: -107%;
}

#playmat .token.computer-picked {
  font-size: 29px;
  top: 5%;
  left: 60%;
  transform: scale(1);
  cursor: initial;
}

#playmat .token.computer-picked::before {
  content: "THE HOUSE PICKED";
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  top: -32%;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0.125em;
}

#playmat .token.computer-picked.aside {
  transition: ease-out 1s;
  left: 114%;
}

#playmat .token--paper {
  top: 17.8%;
  left: 78%;
}

#playmat .token--scissors {
  top: -23.7%;
  left: 28.2%;
}

#playmat .token--rock {
  left: 58%;
  top: 77.3%;
}

#playmat .token--lizard {
  left: -1.9%;
  top: 77.3%;
}

#playmat .token--spock {
  top: 17.8%;
  left: -21.9%;
}

#playmat .winner {
  box-shadow: 0 0 0 65px rgba(255, 255, 255, 0.03), 0 0 0 135px rgba(255, 255, 255, 0.02), 0 0 0 218px rgba(255, 255, 255, 0.01);
}

.token {
  font-size: 10px;
  border-radius: 50%;
  width: 10em;
  height: 10.3em;
  position: absolute;
  cursor: pointer;
  transition: 0.2s;
}

.token:hover {
  transform: scale(1.03);
}

.token__center {
  position: absolute;
  top: 1.1em;
  left: 1.2em;
  background: #dfdfdf;
  border-radius: 50%;
  width: 7.665em;
  height: 7.716em;
  box-shadow: inset 0 0.4em 0.1em #b9bed4;
}

.token__center--scissors img {
  position: absolute;
  width: 3.6em;
  height: 4em;
  left: 1.846em;
  top: 1.996em;
}

.token__center--paper img {
  position: absolute;
  width: 3.4em;
  height: 4.2em;
  left: 2.03em;
  top: 1.93em;
}

.token__center--rock img {
  position: absolute;
  width: 3.3em;
  height: 3.4em;
  left: 2.2em;
  top: 2.4em;
}

.token__center--lizard img {
  position: absolute;
  width: 4.3em;
  height: 4.1em;
  left: 1.7em;
  top: 2em;
}

.token__center--spock img {
  position: absolute;
  width: 3.1em;
  height: 4em;
  left: 2.5em;
  top: 1.9em;
}

.token__border {
  position: absolute;
  width: 10em;
  height: 9.848em;
  border-radius: 50%;
}

.token__border--scissors {
  background: linear-gradient(#eca922, #cf9d3f);
}

.token__border--paper {
  background: linear-gradient(#5671f5, #4865f4);
}

.token__border--rock {
  background: linear-gradient(#dd405d, #dc2e4e);
}

.token__border--lizard {
  background: linear-gradient(#8c5de5, #834fe3);
}

.token__border--spock {
  background: linear-gradient(#52bed1, #40b9ce);
}

.token__shadow {
  position: absolute;
  width: 10em;
  height: 10.3em;
  left: 0;
  top: 0;
  border-radius: 50%;
}

.token__shadow--scissors {
  background: #c76c1b;
}

.token__shadow--paper {
  background: #2945c1;
}

.token__shadow--rock {
  background: #a11737;
}

.token__shadow--lizard {
  background: #5f38aa;
}

.token__shadow--spock {
  background: #2e8eab;
}

.token-placeholder {
  position: absolute;
  font-size: 29px;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  width: 7.6em;
  height: 7.6em;
  border-radius: 50%;
  top: 17%;
  left: 72%;
  background: black;
  opacity: 0.1;
  transform: scale(0);
  color: white;
  line-height: 7.6em;
  text-align: center;
}

.token-placeholder span {
  font-size: 4em;
}

.result {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  z-index: -1;
  opacity: 0;
  transition: ease-in 1s;
}

.result h4 {
  font-weight: bold;
  font-size: 57px;
  color: white;
  margin-top: 1.35em;
  text-transform: uppercase;
}

.result p {
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.045em;
  margin-top: 6px;
}

.result .play-again {
  width: 220px;
  height: 48px;
  background: white;
  border-radius: 8px;
  margin: 80px auto 0;
  color: #3b4363;
  font-weight: 600;
  font-size: 16px;
  line-height: 48px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.155em;
}

.result .play-again:hover {
  color: #dd4040;
  cursor: pointer;
}

footer {
  font-size: 11px;
  text-align: center;
}

footer a {
  color: #3e52a3;
}

.hidden {
  display: none;
}

.reveal {
  transform: scale(1);
  transition: ease-out 2s;
}

.appear {
  z-index: 0;
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */