$score-text: hsla(229, 64, 46, 1);
$header-outline: hsla(217, 16.2%, 44.9%, 1);
$red: hsl(0, 70%, 56%);
$dark-text: hsla(228, 25.3%, 31%, 1);
$gray: #dfdfdf;

$scissors-gradient: linear-gradient(hsl(40, 84%, 53%), hsl(39, 60%, 53%));
$paper-gradient: linear-gradient(hsl(230, 89%, 65%), hsl(230, 89%, 62%));
$rock-gradient: linear-gradient(hsl(349, 70%, 56%), hsl(349, 71%, 52%));
$lizard-gradient: linear-gradient(hsl(261, 72%, 63%), hsl(261, 73%, 60%));
$spock-gradient: linear-gradient(hsl(189, 58%, 57%), hsl(189, 59%, 53%));

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
  text-transform: uppercase;
}
body {
  min-height: 100vh;
  max-width: 1428px;
  margin: 0 auto;
  padding: 47px 31px 31px 31px;
  background: radial-gradient(100% 100% at 50% 0%, #1f3756 0%, #141539 100%);
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

header {
  width: 100%;
  max-width: 702px;
  margin: 0 auto;
  padding: 18px 23px 15px 28px;
  border: 2px solid #606e85;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .score {
    width: 150px;
    height: 114px;
    padding: 14px;
    background: #ffffff;
    border-radius: 6px;
    text-align: center;
    h3 {
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      letter-spacing: 0.15em;
      color: $score-text;
    }
    p {
      font-weight: bold;
      font-size: 64px;
      line-height: 70px;
      text-align: center;
      letter-spacing: 0.01em;
      color: $dark-text;
    }
  }
}

main {
  flex-grow: 1;
}

#playmat {
  // width: 305px;
  // height: 277px;
  // margin: 154px auto;
  width: 329px;
  height: 313px;
  margin: 122px auto;
  position: relative;
  & > img {
    width: 100%;
  }
  .token {
    // font-size: 19.7px;
    font-size: 14.5px;
    // SELECTED TOKEN
    &.user-picked {
      font-size: 29px;
      top: 5%;
      left: -60%;
      transform: scale(1);
      transition: ease-in 0.3s;
      cursor: initial;
      &::before {
        content: "YOU PICKED";
        position: absolute;
        width: 100%;
        text-align: center;
        color: white;
        top: -32%;
        font-weight: bold;
        font-size: 24px;
        letter-spacing: 0.125em;
      }
      &.aside {
        transition: ease-out 1s;
        left: -107%;
      }
    }
    &.computer-picked {
      font-size: 29px;
      top: 5%;
      left: 60%;
      transform: scale(1);
      cursor: initial;
      &::before {
        content: "THE HOUSE PICKED";
        position: absolute;
        width: 100%;
        text-align: center;
        color: white;
        top: -32%;
        font-weight: bold;
        font-size: 24px;
        letter-spacing: 0.125em;
      }
      &.aside {
        transition: ease-out 1s;
        left: 118%;
      }
    }
    &--paper {
      // top: -32%;
      // left: -28%;
      top: 17.8%;
      left: 78%;
    }
    &--scissors {
      // top: -32%;
      // left: 63%;
      top: -23.7%;
      left: 28.2%;
    }
    &--rock {
      // left: 18%;
      // top: 50%;
      left: 58%;
      top: 77.3%;
    }
    &--lizard {
      left: -1.9%;
      top: 77.3%;
    }
    &--spock {
      top: 17.8%;
      left: -21.9%;
    }
  }
  .winner {
    box-shadow: 0 0 0 65px rgba(255, 255, 255, 0.03), 0 0 0 135px rgba(255, 255, 255, 0.02),
      0 0 0 218px rgba(255, 255, 255, 0.01);
  }
}

.token {
  font-size: 10px;
  border-radius: 50%;
  width: 10em;
  height: 10.3em;
  position: absolute;
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    transform: scale(1.03);
  }
  &__center {
    position: absolute;
    top: 1.1em;
    left: 1.2em;
    background: $gray;
    border-radius: 50%;
    width: 7.665em;
    height: 7.716em;
    box-shadow: inset 0 0.4em 0.1em #b9bed4;
    &--scissors img {
      position: absolute;
      width: 3.6em;
      height: 4em;
      left: 1.846em;
      top: 1.996em;
    }
    &--paper img {
      position: absolute;
      width: 3.4em;
      height: 4.2em;
      left: 2.03em;
      top: 1.93em;
    }
    &--rock img {
      position: absolute;
      width: 3.3em;
      height: 3.4em;
      left: 2.2em;
      top: 2.4em;
    }
    &--lizard img {
      position: absolute;
      width: 4.3em;
      height: 4.1em;
      left: 1.7em;
      top: 2em;
    }
    &--spock img {
      position: absolute;
      width: 3.1em;
      height: 4em;
      left: 2.5em;
      top: 1.9em;
    }
  }
  &__border {
    position: absolute;
    width: 10em;
    height: 9.848em;
    border-radius: 50%;
    &--scissors {
      background: $scissors-gradient;
    }
    &--paper {
      background: $paper-gradient;
    }
    &--rock {
      background: $rock-gradient;
    }
    &--lizard {
      background: $lizard-gradient;
    }
    &--spock {
      background: $spock-gradient;
    }
  }
  &__shadow {
    position: absolute;
    width: 10em;
    height: 10.3em;
    left: 0;
    top: 0;
    border-radius: 50%;
    &--scissors {
      background: #c76c1b;
    }
    &--paper {
      background: #2945c1;
    }
    &--rock {
      background: #a11737;
    }
    &--lizard {
      background: #5f38aa;
    }
    &--spock {
      background: #2e8eab;
    }
  }
}
.token-placeholder {
  position: absolute;
  font-size: 29px;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  width: 7.6em;
  height: 7.6em;
  border-radius: 50%;
  top: 17%;
  left: 72%;
  background: black;
  opacity: 0.1;
  transform: scale(0);
  color: white;
  line-height: 7.6em;
  text-align: center;
  span {
    font-size: 4em;
  }
}
.result {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  z-index: -1;
  opacity: 0;
  transition: ease-in 1s;
  h4 {
    font-weight: bold;
    font-size: 57px;
    color: white;
    margin-top: 1.35em;
  }
  p {
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.045em;
    margin-top: 6px;
  }
  .play-again {
    width: 220px;
    height: 48px;
    background: white;
    border-radius: 8px;
    margin: 80px auto 0;
    color: $dark-text;
    font-weight: 600;
    font-size: 16px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.155em;
    &:hover {
      cursor: pointer;
      color: $red;
    }
  }
}

.rules-button {
  width: 130px;
  height: 42px;
  margin-left: auto;
  border: 2px solid white;
  border-radius: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 0.155em;
  color: white;
  &:hover {
    cursor: pointer;
    background: white;
    color: $dark-text;
  }
}

.rules {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.rules__modal {
  width: 400px;
  // height: 415px;
  background: #ffffff;
  border-radius: 8px;
  padding: 29px 32px 47px;
}
.rules__modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
  img {
    cursor: pointer;
    transition: 0.4s;
    &:hover {
      transform: rotate(180deg);
    }
  }
}

footer {
  font-size: 11px;
  text-align: center;
  color: $header-outline;
  letter-spacing: 0.2em;
  margin-top: 3em;
  a {
    color: $score-text;
    text-decoration: none;
    font-weight: bold;
  }
}

.hidden {
  display: none;
}

.reveal {
  transform: scale(1);
  transition: ease-out 2s;
}

.appear {
  z-index: 0;
  opacity: 1;
}
